<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="math class test">
  <test name="math class test">
    <parameter name="num" value="45.5"></parameter>
    <classes>
      <class name="TestMathClass"/>
    </classes>
  </test>
</suite>